/*** Create the table for the new teacher priorities based on the group type ***/
/****** Object:  Table [dbo].[TEACHERS_GROUP_TYPES_PRIORITY]    Script Date: 12-Sep-19 15:58:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

IF NOT EXISTS (SELECT * 
                 FROM INFORMATION_SCHEMA.TABLES 
                 WHERE TABLE_SCHEMA = 'dbo' 
                 AND  TABLE_NAME = 'TEACHERS_GROUP_TYPES_PRIORITY')
BEGIN
CREATE TABLE [dbo].[TEACHERS_GROUP_TYPES_PRIORITY](
	[iID_TEACHER_GROUP_TYPE_PRIORITY] [int] IDENTITY(1,1) NOT NULL,
	[iID_TEACHER] [int] NOT NULL,
	[iID_GROUP_TYPE] [int] NOT NULL,
	[iPRIORITY] [int] NOT NULL,
	[bACTIVE] [bit] NOT NULL,
	[dtCREATE_DATE] [datetime] NOT NULL,
	[dtLASTMODIFIED_DATE] [datetime] NULL,
	[iCREATE_USER] [int] NOT NULL,
	[iLASTMODIFIED_USER] [int] NULL,
 CONSTRAINT [PK_TEACHERS_GROUP_TYPES_PRIORITY] PRIMARY KEY CLUSTERED 
(
	[iID_TEACHER_GROUP_TYPE_PRIORITY] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO

ALTER TABLE [dbo].[TEACHERS_GROUP_TYPES_PRIORITY]  WITH CHECK ADD  CONSTRAINT [FK_TEACHERS_GROUP_TYPES_PRIORITY_GROUP_TYPES] FOREIGN KEY([iID_GROUP_TYPE])
REFERENCES [dbo].[GROUP_TYPES] ([iID_GROUP_TYPE])
GO
ALTER TABLE [dbo].[TEACHERS_GROUP_TYPES_PRIORITY] CHECK CONSTRAINT [FK_TEACHERS_GROUP_TYPES_PRIORITY_GROUP_TYPES]
GO
ALTER TABLE [dbo].[TEACHERS_GROUP_TYPES_PRIORITY]  WITH CHECK ADD  CONSTRAINT [FK_TEACHERS_GROUP_TYPES_PRIORITY_TEACHERS] FOREIGN KEY([iID_TEACHER])
REFERENCES [dbo].[TEACHERS] ([iID_TEACHER])
GO
ALTER TABLE [dbo].[TEACHERS_GROUP_TYPES_PRIORITY] CHECK CONSTRAINT [FK_TEACHERS_GROUP_TYPES_PRIORITY_TEACHERS]
GO

/*** Move the old existing priorities from the Teacher table to the new table ***/
DECLARE @iID_TEACHER int
DECLARE @iPRIORITY int

DECLARE MY_CURSOR CURSOR 
  LOCAL STATIC READ_ONLY FORWARD_ONLY
FOR 
SELECT iID_TEACHER,iPRIORITY 
FROM TEACHERS

OPEN MY_CURSOR
FETCH NEXT FROM MY_CURSOR INTO @iID_TEACHER,@iPRIORITY
WHILE @@FETCH_STATUS = 0
BEGIN 
	INSERT INTO [dbo].[TEACHERS_GROUP_TYPES_PRIORITY]
           ([iID_TEACHER]
           ,[iID_GROUP_TYPE]
           ,[iPRIORITY]
           ,[bACTIVE]
           ,[dtCREATE_DATE]
           ,[dtLASTMODIFIED_DATE]
           ,[iCREATE_USER]
           ,[iLASTMODIFIED_USER])
     VALUES
           (@iID_TEACHER
           ,1
           ,@iPRIORITY
           ,1
           ,'2019-09-12'
           ,null
           ,1
           ,null)
    FETCH NEXT FROM MY_CURSOR INTO @iID_TEACHER,@iPRIORITY
END
CLOSE MY_CURSOR
DEALLOCATE MY_CURSOR
GO

/*** Remove the priority field from the Teacher table ***/
IF EXISTS (
  SELECT * 
  FROM   sys.columns 
  WHERE  object_id = OBJECT_ID(N'[dbo].[TEACHERS]') 
         AND name = 'iPRIORITY'
)
BEGIN
ALTER TABLE TEACHERS
DROP COLUMN iPRIORITY;
END
GO
/*** Create the new field for maximum allocation of teachers in the Teachers_Lectures_Link table ***/
IF NOT EXISTS (
  SELECT * 
  FROM   sys.columns 
  WHERE  object_id = OBJECT_ID(N'[dbo].[TEACHERS_LECTURES_LINK]') 
         AND name = 'iMAXIMUM_ALLOCATION'
)
BEGIN
ALTER TABLE TEACHERS_LECTURES_LINK
ADD iMAXIMUM_ALLOCATION int null
END
GO

UPDATE dbo.SETTINGS
SET iVALUE=3,nvVALUE=N'v0.2.1',iLASTMODIFIED_USER=1,dtLASTMODIFIED_DATE = GETDATE()
WHERE iKEY=1001
GO



