SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*** Create the new field for group types for module priority in the TEACHER_PREFERRED_MODULES table ***/
IF NOT EXISTS (
  SELECT * 
  FROM   sys.columns 
  WHERE  object_id = OBJECT_ID(N'[dbo].[TEACHER_PREFERRED_MODULES]') 
         AND name = 'iID_GROUP_TYPE'
)
BEGIN
ALTER TABLE TEACHER_PREFERRED_MODULES
ADD iID_GROUP_TYPE int null
END
GO

/*** Move the preferred modules to first Group Type available (Licenta/Bachelor) ***/
DECLARE @iID_TEACHER_PREFERRED_MODULE int

DECLARE MY_CURSOR CURSOR 
  LOCAL STATIC READ_ONLY FORWARD_ONLY
FOR 
SELECT iID_TEACHER_PREFERRED_MODULE 
FROM TEACHER_PREFERRED_MODULES

OPEN MY_CURSOR
FETCH NEXT FROM MY_CURSOR INTO @iID_TEACHER_PREFERRED_MODULE
WHILE @@FETCH_STATUS = 0
BEGIN 
	UPDATE TEACHER_PREFERRED_MODULES
	SET iID_GROUP_TYPE=1
	WHERE iID_TEACHER_PREFERRED_MODULE=@iID_TEACHER_PREFERRED_MODULE
    FETCH NEXT FROM MY_CURSOR INTO @iID_TEACHER_PREFERRED_MODULE
END
CLOSE MY_CURSOR
DEALLOCATE MY_CURSOR
GO

ALTER TABLE dbo.TEACHER_PREFERRED_MODULES 
ALTER COLUMN iID_GROUP_TYPE int NOT NULL
GO


UPDATE dbo.SETTINGS
SET iVALUE=4,nvVALUE=N'v0.2.2',iLASTMODIFIED_USER=1,dtLASTMODIFIED_DATE = GETDATE()
WHERE iKEY=1001
GO



